p{
    margin-left: 40%;
}
#submit{
    margin-left: 50%;
    width: 120px;
    height: 34px;
    right: 150px;
    top: 750px;

    background: #68C9A6;
    font-size: 18px;
    border-radius: 23px;
    box-shadow: 0 8px 16px;
}