.post{
  position: center;
}

.post-container {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #e6ecf0;
}
  
.post-avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
}
  
.post-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.post-content {
    width: 100%;
}
  
.post-username {
    font-weight: bold;
    margin-bottom: 4px;
}
  
.post-text {
    font-size: 16px;
    line-height: 1.4;
    white-space: pre-wrap;
}
  
  